<%- include('header'); -%>
    <center>
        <form action="/bas" method="post">
            <h2> Error html fayl</h2>
            <p>Baza bosh maglumat gosup bolanok!</p>
            <p>
                <%=yalnys%>
            </p>
            <button class="btn" type="submit">Bas sahypa gec!</button>

        </form>
    </center>
    <%- include('footer'); -%>